<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helloworld.epidemicmanagement.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="com.helloworld.epidemicmanagement.domain.Record">
    <!--@mbg.generated-->
    <!--@Table record-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="id_card" property="idCard" />
    <result column="address" property="address" />
    <result column="location" property="location" />
    <result column="phone" property="phone" />
    <result column="time" property="time" />
    <result column="temperature" property="temperature" />
    <result column="user_id" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, id_card, address, `location`, phone, `time`, temperature, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from record
    where id = #{id}
  </select>
    <select id="getRecordList" resultType="com.helloworld.epidemicmanagement.domain.Record">

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from record
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.helloworld.epidemicmanagement.domain.Record">
    <!--@mbg.generated-->
    insert into record (id, `name`, id_card, address, `location`, phone, `time`, temperature,
      user_id)
    values (#{id}, #{name}, #{idCard}, #{address}, #{location}, #{phone}, #{time}, #{temperature},
      #{userId})
  </insert>
  <insert id="insertSelective" parameterType="com.helloworld.epidemicmanagement.domain.Record">
    <!--@mbg.generated-->
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="location != null">
        `location`,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="idCard != null">
        #{idCard},
      </if>
      <if test="address != null">
        #{address},
      </if>
      <if test="location != null">
        #{location},
      </if>
      <if test="phone != null">
        #{phone},
      </if>
      <if test="time != null">
        #{time},
      </if>
      <if test="temperature != null">
        #{temperature},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.helloworld.epidemicmanagement.domain.Record">
    <!--@mbg.generated-->
    update record
    <set>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="idCard != null">
        id_card = #{idCard},
      </if>
      <if test="address != null">
        address = #{address},
      </if>
      <if test="location != null">
        `location` = #{location},
      </if>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="time != null">
        `time` = #{time},
      </if>
      <if test="temperature != null">
        temperature = #{temperature},
      </if>
      <if test="userId != null">
        user_id = #{userId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.helloworld.epidemicmanagement.domain.Record">
    <!--@mbg.generated-->
    update record
    set `name` = #{name},
      id_card = #{idCard},
      address = #{address},
      `location` = #{location},
      phone = #{phone},
      `time` = #{time},
      temperature = #{temperature},
      user_id = #{userId}
    where id = #{id}
  </update>
</mapper>
