<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helloworld.epidemicmanagement.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.helloworld.epidemicmanagement.domain.Role">
    <!--@mbg.generated-->
    <!--@Table `role`-->
    <id column="id" property="id" />
    <result column="role_name" property="roleName" />
    <result column="role_key" property="roleKey" />
    <result column="status" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_name, role_key, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from `role`
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from `role`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.helloworld.epidemicmanagement.domain.Role">
    <!--@mbg.generated-->
    insert into `role` (id, role_name, role_key, `status`)
    values (#{id}, #{roleName}, #{roleKey}, #{status})
  </insert>
  <insert id="insertSelective" parameterType="com.helloworld.epidemicmanagement.domain.Role">
    <!--@mbg.generated-->
    insert into `role`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleKey != null">
        role_key,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="roleName != null">
        #{roleName},
      </if>
      <if test="roleKey != null">
        #{roleKey},
      </if>
      <if test="status != null">
        #{status},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.helloworld.epidemicmanagement.domain.Role">
    <!--@mbg.generated-->
    update `role`
    <set>
      <if test="roleName != null">
        role_name = #{roleName},
      </if>
      <if test="roleKey != null">
        role_key = #{roleKey},
      </if>
      <if test="status != null">
        `status` = #{status},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.helloworld.epidemicmanagement.domain.Role">
    <!--@mbg.generated-->
    update `role`
    set role_name = #{roleName},
      role_key = #{roleKey},
      `status` = #{status}
    where id = #{id}
  </update>
</mapper>
