<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helloworld.epidemicmanagement.mapper.TestRecordMapper">
    <resultMap id="BaseResultMap" type="com.helloworld.epidemicmanagement.domain.TestRecord">
        <!--@mbg.generated-->
        <!--@Table test_record-->
        <result column="id" property="id"/>
        <result column="time" property="time"/>
        <result column="user" property="user"/>
        <result column="data" property="data"/>
        <result column="place" property="place"/>
        <result column="remark" property="remark"/>
        <result column="type" property="type"/>
        <result column="recognize_code" property="recognizeCode"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        `time`,
        `user`,
        `data`,
        place,
        remark,
        `type`,
        recognize_code
    </sql>
    <insert id="insert" parameterType="com.helloworld.epidemicmanagement.domain.TestRecord">
        <!--@mbg.generated-->
        insert into test_record (id, `time`, `user`, `data`, place, remark, `type`, recognize_code)
        values (#{id}, #{time}, #{user}, #{data}, #{place}, #{remark}, #{type}, #{recognizeCode})
    </insert>
    <insert id="insertSelective" parameterType="com.helloworld.epidemicmanagement.domain.TestRecord">
        <!--@mbg.generated-->
        insert into test_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="time != null">
                `time`,
            </if>
            <if test="user != null">
                `user`,
            </if>
            <if test="data != null">
                `data`,
            </if>
            <if test="place != null">
                place,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="recognizeCode != null">
                recognize_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="time != null">
                #{time},
            </if>
            <if test="user != null">
                #{user},
            </if>
            <if test="data != null">
                #{data},
            </if>
            <if test="place != null">
                #{place},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="recognizeCode != null">
                #{recognizeCode},
            </if>
        </trim>
    </insert>
    <select id="getRecordById" parameterType="int" resultType="com.helloworld.epidemicmanagement.domain.vo.Test">
        select test_record.id,
               `time`,
               `name`,
               `data`,
               place,
               remark,
               `type`,
               recognize_code,
               gender
        from test_record
                 inner join user on test_record.user = user.id
        where user.id = #{ListId}
    </select>
    <select id="getRecordList" resultType="com.helloworld.epidemicmanagement.domain.vo.Test">
        select tr.id             as id,
               tr.time           as time,
               tr.user           as user,
               tr.data           as data,
               tr.place          as place,
               tr.remark         as remark,
               tr.type           as type,
               tr.recognize_code as recognizeCode,
               u.name            as name,
               u.gender          as gender
        from test_record tr
                 inner join user u on tr.user = u.id
        where tr.user = #{userId}
        order by time desc
    </select>
</mapper>
